global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'system_metrics'
    static_configs:
      - targets: ['192.168.174.132:9100']
